*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.fart.hidden {
    display: none;
}

.fart {
    height: 200px;
    width: 200px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}