*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: Nunito, Arial, sans-serif;
    font-size: 16px;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
}

@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes up {
    from { transform: translateY(50px); }
    to { transform: translateY(0px); }
}


.chat-message {
    visibility: hidden;
    position: relative;
    min-width: 300px;
    max-width: 500px;
    width: var(--dynamicWidth);
    background: #fff;
    border-radius: 20px;
}

.chat-message:before {
    content: '';
    background: #fff;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 100%;
    right: 100%;
    margin-top: -5px;
    margin-right: -5px;
}

.chat-message:after {
    content: '';
    background: #fff;
    border-radius: 15px;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 100%;
    right: 100%;
    margin-top: 20px;
    margin-right: 20px;
}

.chat-message.animate {
    visibility: visible;
animation: fade reverse .5s,
                          fade .5s calc({lifetime}s - .5s) forwards,
                                                           up .5s,
                                                                up reverse .5s calc({lifetime}s - .5s) forwards;
}

.chat-message.animate .username-section {
    width: 100%;
}

.chat-message.animate.forever {
    visibility: visible;
    animation: fade reverse .5s, up .5s;
}

.username-section {
    position: relative;
    z-index: 2;
    height: 40px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    line-height: 40px;
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -1px;
}

.username-section.white-text {
    color: #fff;
}

.badge {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.message-section {
    padding: 10px;
}

.message-wrapper {
    display: inline-block;
}

.large-emotes .message-section {
    text-align: center;
}

.large-emotes .emote {
    height: 112px;
}

.medium-emotes .emote {
    height: 3.5rem;
    max-height: 112px;
}

.small-emotes .emote {
    height: 1.75rem;
    max-height: 112px;
}

.complex-emote {
    display: inline-block;
    position: relative;
}

.emote.zero-width {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent !important;
}

.image-background {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#main > div {
    position: absolute;
    transform: translate(0, -100%);
}

div[id="0"] {
    left: 53%;
    top: 60%;
}

div[id="1"] {
    left: 16%;
    top: 32%;
}

div[id="2"] {
    left: 83%;
    top: 30%;
    transform: translate(-100%, -100%) !important;
}

div[id="3"] {
    left: 93%;
    top: 44%;
    transform: translate(-100%, -100%) !important;
}

div[id="2"] .chat-message:before,
div[id="4"] .chat-message:before,
div[id="3"] .chat-message:before {
    right: auto;
    left: 100%;
    margin-right: 0;
    margin-left: -5px;
}

div[id="2"] .chat-message:after,
div[id="4"] .chat-message:after,
div[id="3"] .chat-message:after {
    right: auto;
    left: 100%;
    margin-right: 0;
    margin-left: 20px;
}

div[id="4"] {
    left: 49%;
    top: 47%;
    transform: translate(-100%, -100%) !important;
}