*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-container.hidden {
    display: none;
}

.bonk {
    position: absolute;
    bottom: 50%;
    left: 20%;
    transition: all 1000ms;
    transform: rotate(0deg);
    transform-origin: 100% 100%;
    display: block;
    height: 50%;
}

.bonk.animate {
    transform: rotate(-45deg);
}

.bonkee {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 50%;
    object-position: left;
    transition: all 1000ms;
}

.bonkee.animate {
    height: 15%;
}