*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.grid {
    font-size: 0;
    width: 100%;
}

.grid-cell {
    display: inline-block;
    background: #fff;
    width: 12.5%;
    aspect-ratio: 1 / 1;
}