*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

}

.main-container.hidden {
    opacity: 0;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    transition: all 2s ease;
    opacity: 1;
}

.caption-container {
    position: relative;
    background-image: url("https://swolekat.github.io/se-widgets/assets/dark-souls-text/blackBar.png");
    height: 153px;
}

.background-text,
.main-text {
    width: 100%;
    text-align: center;
    font-family: 'EB Garamond', serif;
    line-height: 153px;
    font-size: 120px;
}

.main-text {
    transform: scaleX(0.8);
}

.background-text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 153px;
    font-size: 120px;
    transform: scaleX(0.81);
    filter: blur(3px);
    transition: all 2s ease;
    opacity: 0.5;
}

.background-text.move {
    transform: scaleX(0.9);
}