*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main-container.hidden {
    opacity: 0;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.caption-container {
    position: relative;
    background-image: url("https://swolekat.github.io/se-widgets/assets/dark-souls-text/blackBar.png");
}