*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    padding: 50px;
}

.card-grid {
    display: grid;
    height: 100%;
    max-height: 100%;
    width: 100%;
    grid-template-columns:  repeat(3, minmax(0, 1fr));
    grid-template-rows: minmax(0,1fr);
    grid-gap: 50px;
}

.card-wrapper {
    height: 100%;
    width: 100%;
    contain: size paint;
}

.card-wrapper.hidden {
    display: none;
}

.card {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card.reversed {
    transform: rotate(180deg);
}
