body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    perspective: none;
}

#container.hidden {
    display: none;
}

.octagon-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.octagon {
    height: 100%;
    width: 100%;
    position: relative;
    perspective-origin: 50% 50%;
    transform-style:preserve-3d;
    transform:translateX(0px) rotateX(0deg) rotateY(0deg);
}

.octagon-face {
    position:absolute;
    width: 100%;
    height:50%;
    top: 50%;
    left: 0;
    text-align: center;
    font-size: 72px;
    color: #fff;
}

.face-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    font-family: 'Trebuchet MS', sans-serif;
}

